<div class="page-header">
  <h2>購入確定</h2>
</div>

購入手続きが完了いたしました。
</br>
登録していただいているメールアドレスに
</br>
購入内容についてのメールをお送りしましたので、
</br>
メールからも内容をご確認いただけます。
</br>
</br>
以下の注意事項を確認の上、ご入金をお願い致します。
</br>
</br>
<b><h4>注意事項</h4></b>
お支払いの期限は、本日より、<b>2週間以内</b>となります。
</br>
</br>
以下の口座に、ご入金をお願い致します。
</br>
</br>
<% #TODO:口座番号を表示 口座を用意して記載%>
</br>
</br>
ご入金の際には、登録済み氏名でご入金をお願いします。
</br>
氏名が異なる場合、ご入金の確認が遅れることがありますので、ご注意ください。
</br>
商品は、ご入金を確認以降、随時、発送致します。
</br>
みんな買いをご利用いただき、ありがとうございました。
</br>
</br>

<%= link_to 'トップページへ戻る', root_path, class: 'btn btn-info' %>
