<div class="page-header">
  <h2>みんな買いについて</h2>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    目的
  </div>
  <div class="panel-body">
    買い物をプロジェクト化することで、面白い買い物を増やしたいと考えて始めました。
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    運営
  </div>
  <div class="panel-body">
    徳田総合研究所</br>
    (英名)tokuda total institute</br>
    ※現在、個人事業です。
  </div>
</div>