<div class="page-header">
  <h2>よくある質問</h2>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    プロジェクトの商品は、どんな商品でもいいの？
  </div>
  <div class="panel-body">
    公序良俗に反しない限り、プロジェクトの商品は自由に決めることができます。
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    商品を販売している会社は、協賛なの？
  </div>
  <div class="panel-body">
    プロジェクトの対象となる商品を販売している会社様と、本サービスとは何も関係ありません。</br>
    プロジェクトが成立した場合、対象の会社様と連絡を取り、交渉を進めていくことになります。
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    プロジェクトをつくるとき、画像は、どこから持ってくればいいの？
  </div>
  <div class="panel-body">
    基本的には、対象商品を販売している会社様のウェブサイトを確認し、</br>
    画像の使用が問題ないことを確認の上、登録をお願いします。
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    プロジェクトって、どうすれば達成になるの？
  </div>
  <div class="panel-body">
    プロジェクトの開催期間中に、以下の２つの条件を両方とも満たした場合、プロジェクトは達成となります。</br>
    ・プロジェクト参加者が、１００人以上</br>
    ・プロジェクトの購入予定金額が、１００万円以上
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    プロジェクトの開催期間っていつからいつまで？
  </div>
  <div class="panel-body">
    プロジェクトをつくった時から、<%= @project_period %>後までが開催期間となります。
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    プロジェクトが成立したら、結果はいつになったら分かるの？
  </div>
  <div class="panel-body">
    プロジェクト開催期間終了後、<strong>２週間</strong>を目安に、プロジェクトの結果を個人ページにご連絡いたします。
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    プロジェクトが成功したら、購入までの手続きってどうすればいいの？
  </div>
  <div class="panel-body">
    プロジェクトの結果をご連絡したときから、<strong>２週間</strong>以内に指定の口座までご入金していただくことになります。</br>
    ご入金確認後、順次商品を発送致します。
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    プロジェクトの支払いは分割できるの？
  </div>
  <div class="panel-body">
    支払いは、一括前払いとなります。
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    プロジェクトが成功したら、プロジェクトの参加者は全員その商品を購入できるの？
  </div>
  <div class="panel-body">
    交渉の結果次第では、数量に限りが発生する可能性がございます。</br>
    そうした場合は、抽選とさせていただく場合があります。
  </div>
</div>
