<div class="page-header">
  <h2>ご利用ガイド</h2>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    会員登録をする
  </div>
  <div class="panel-body">
    メールアドレスとパスワードを設定してください。
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    マイページから、会員情報を登録する
  </div>
  <div class="panel-body">
    氏名や、住所など、利用にあたり必要となる情報を登録してください。
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    プロジェクトをつくる
  </div>
  <div class="panel-body">
    購入したい商品やサービスについて、値段やオプションについて設定をしてください。</br>
    公序良俗に反するような内容は登録しないでください。</br>
    不適切な内容のプロジェクトは、削除することがあります。
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    プロジェクトに参加する
  </div>
  <div class="panel-body">
    プロジェクトの一覧の中から、参加したいプロジェクトを見つけた場合は、</br>
    購入を希望する個数、オプションの内容を登録の上、プロジェクトに参加できます。</br>
    また、プロジェクト参加の際には、アンケートへの回答をお願いしています。
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    プロジェクトの達成を待つ
  </div>
  <div class="panel-body">
    周りの人で、同じ商品を買いたい人がいる場合は、お知らせしてあげてもいいかもしれません。
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    プロジェクトの結果を見る
  </div>
  <div class="panel-body">
    マイページから、参加したプロジェクトが成立したかどうかを確認します。
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    購入手続きをする
  </div>
  <div class="panel-body">
    マイページから、購入手続きを進めることになります。</br>
    手続きは、プロジェクトごとに異なることがあります。</br>
    不明点は、お気軽にお問い合わせください。
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    その他
  </div>
  <div class="panel-body">
    操作方法はできる限り簡単になるように心がけていますが、</br>
    不明点があれば、お問い合わせより、ご連絡ください。</br>
    よりよいサービスにするため、真摯に対応させていただきます。
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    登録の取り消し
  </div>
  <div class="panel-body">
    会員情報の抹消は、マイページの退会するボタンから、簡単に行えます。
    参加しているプロジェクトの取り消しは、対象プロジェクトの画面から、行うことができます。
  </div>
</div>
