<div class="page-header">
  <h2>特定商取引法に基づく表記</h2>
</div>

<p>更新日：2018/2/15</p>
<p>「特定商取引に関する法律」第11条（通信販売についての広告）に基づき以下に明示いたします。</p>

<div class="panel panel-default">
  <div class="panel-heading">
  1.事業者名
  </div>
  <div class="panel-body">
    徳田総合研究所</br>
    事業責任者
    徳田清伸
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    2.所在地
  </div>
  <div class="panel-body">
    〒185-0062</br>
    東京都町田市大蔵町181－1　フォーラム181-106
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    3.連絡先
  </div>
  <div class="panel-body">
    minnnagai@t-total-institute.jp</br>
    ※現在、個人事業につき、電話での対応はできかねます。</br>
    また、お問い合わせへの対応に時間がかかることもございますが、ご容赦ください。
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    4.商品等の販売価格
  </div>
  <div class="panel-body">
  販売価格については、各プロジェクトをご覧ください。
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    5.送料などの商品代金以外の付帯費用
  </div>
  <div class="panel-body">
    （1） 国内配送の注文</br>
      配送料については、各プロジェクトをご覧ください。</br>
      特別に記載がない場合は、プロジェクトの購入希望価格に配送料も含むものとします。</br></br>

      商品代金以外に手数料はかかりません。</br></br>

    （2） 海外配送の注文</br>
      現在、海外配送については、対応していません。</br></br>

    （3） ギフトラッピング</br>
      ギフトラッピングについては、対応していません。</br></br>

    (4) 消費税について</br>
      消費税については、各プロジェクトをご覧ください。</br>
      特別に記載がない場合は、プロジェクトの購入希望価格に消費税も含むものとします。
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    6.代金の支払時期
  </div>
  <div class="panel-body">
    プロジェクト成立後、個別で連絡をさせていただいた後、1か月以内とします。
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    7.代金の支払方法
  </div>
  <div class="panel-body">
    支払方法については、一括前払いとなります。</br>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    8.商品等の引き渡し時期
  </div>
  <div class="panel-body">
    プロジェクト成立後、商品を購入できることが決まり次第、プロジェクト参加者の方に個別で連絡をさせていただきます。
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    9.返品の可否と条件
  </div>
  <div class="panel-body">
    事業の性質上、プロジェクトの内容をもとに交渉を行って、購入することとなりますので、</br>
    商品にトラブルや不具合があった場合を除き、返品手続きについては、原則対応いたしません。</br>
    万が一、返品する際は、ページ下部のContact画面から、返品の連絡をしてください。</br></br>

    返送料については、全額ご負担いただき、返送料を差し引いた代金を払い戻し致します。</br></br>

    商品到着後30日を超えた返品は、商品にトラブルや不具合が発生した場合であっても、メーカー保証または法律に別段の定めがある場合を除き、お受けできない場合がありますので、ご了承ください。
  </div>
</div>
