<div class="page-header">
  <h2>プライバシーポリシー</h2>
</div>

徳田総合研究所では、下記の「プライバシーポリシー」に基づき、お客様の個人情報を取り扱います。</br>
お客様が、「みんな買い」（以下「本サービス」といいます）のご利用をされるためには、下記の「プライバシーポリシー」を熟読のうえ、内容に同意していただく必要があります。</br>
同意いただけない場合は、本サービスへのアクセスおよび本サービスのご利用はお断り致します。</br>
</br>
<b>個人情報について</b></br>
</br>
個人情報とは、お客様個人を識別できる情報をいい、下記を含むものとします。</br>
</br>
    氏名、生年月日、性別、ご職業、その他の特定の個人を識別することができる情報、ならびに特定の個人情報に結びついて使用されるご住所、電話番号、アカウント情報（メールアドレス及びパスワード等をいいます。）、年齢その他の個人に関する属性情報、電子メールアドレス、誕生日、性別
</br>
</br>
<b>利用情報について</b></br>
</br>
利用情報とは、本サービスの利用に関する以下の情報をいうものとします。</br>
</br>
    お客様がご利用になった本サービスの内容、ご利用日時、ご利用回数、本サービス利用時のお客様の挙動などのご利用内容・履歴・状況に関する情報</br>
    お客様が本サービスに掲載・発信した投稿、写真、コメント、その他の情報</br>
    お客様の本サービスでの決済状況に関する情報</br>
</br>
<b>取得情報の収集について</b></br>
</br>
徳田総合研究所は、本サービスをご利用になるお客様の個人情報及び利用情報（以下「取得情報」といいます。）を以下の方法により、収集させていただく場合がございます。</br>
</br>
    本サービス上で取得情報をお客様自身に入力していただき、取得情報を収集させていただきます。</br>
    徳田総合研究所に対し、お客様から電子メール、郵便、書面等で取得情報をご提供いただくことにより、取得情報を収集させていただきます。</br>
    お客様が本サービスをご利用された際に履歴等を収集させていただくことがございます。</br>
    これらの情報にはお客様が利用されるＵＲＬ、ブラウザや携帯電話の種類やIPアドレスなどの情報を含みます。</br>
</br>
<b>取得情報の管理について</b></br>
</br>
    徳田総合研究所にて取得情報を管理・利用する業務に従事する者は、お客様の取得情報について厳重に管理を行い、個人情報への不当なアクセス、紛失、漏洩、改ざん等が起きないよう、取得情報の取扱に十分な注意を払い、その業務に努めます。</br>
</br>
<b>取得情報の利用目的について</b></br>
</br>
取得情報を取得・収集する際にお客様にお知らせした利用目的、利用規約に定める利用目的または以下の目的のために、取得情報を利用させていただきます。</br>
</br>
    本サービスに関する各種事項の連絡や情報提供を行うため</br>
    本サービスを提供するため</br>
    本サービスにユーザー登録する際に必要な情報入力を簡略化するため</br>
    電子メール配信サービスのお申し込みの確認やメールを配信するため</br>
    本サービスに関するご購入の確認やお届けをするため</br>
    本サービスに関するお支払いとその確認をするため</br>
    本サービスの利用状況等を調査・分析するため</br>
    本サービスの内容をよりご満足いただけるよう改良・改善、又は新サービス開発のため</br>
    本サービスの内容をお客様に合わせてカスタマイズするため</br>
    本サービスに関する満足度を調査するため</br>
    本サービス、新サービスその他の各種サービスのご案内やお知らせをお届けするため</br>
    本サービス運営上のトラブルの解決のため</br>
</br>
<b>取得情報の第三者への開示について</b></br>
</br>
徳田総合研究所は、以下に定める場合、取得情報を第三者に開示します。</br>
</br>
    本サービスを提供するために徳田総合研究所が必要と判断した、本サービス上での情報の開示の場合。</br>
    お客様は、開示された他のお客様の情報を、本サービスの利用規約に従った本サービスの利用に必要な範囲でのみ利用するものとし、それぞれのお客様の事前の同意なく、これを第三者に開示してはなりません。</br>
    また利用履歴や取得情報は、本サービス上で徳田総合研究所が定める期間、公開されます。</br>
    徳田総合研究所がサービスの運営及び提供において必要と判断した場合</br>
    商品の配送、代金決済、お客様からのお問い合わせへの対応、徳田総合研究所からお客様へのお問い合わせ、関連するアフターサービスの提供等のために、配送業者、その他の第三者に開示する場合。</br>
    法令等に基づき、裁判所、行政機関、監督官庁その他公的機関から取得情報を提供するよう求められた場合。</br>
    第三者との紛争解決のため、 又は本サービスのユーザーもしくは第三者の権利や利益等を守るために情報開示が必要と徳田総合研究所が判断した場合。</br>
    本サービスの利用状況等を調査・分析するため、徳田総合研究所がかかる調査・分析等を委託する第三者に開示する場合。</br>
    徳田総合研究所が利用目的を達成するために必要な範囲で、個人情報の取扱いの全部又は一部を委託する場合。</br>
    徳田総合研究所又は第三者の広告の配信又は表示のため</br>
    その他、徳田総合研究所が取得情報の開示が必要と判断した場合に、お客様の同意を得た上で、取得情報を開示させていただくことがございます。</br>
</br>
<b>「クッキーなど」の使用について</b></br>
</br>
    クッキー情報に関して、単独では特定の個人を識別することはできません。</br>
    個人情報が一体となって使用される場合には個人情報とみなします。</br>
    クッキーの使用を許可するかどうかはお客様が設定できます。</br>
    多くのWebブラウザでは、自動的にクッキーの使用が許可されますが、クッキーの使用を禁止するようにブラウザの設定を変更することも可能です。</br>
    クッキーの使用を禁止した場合、本サービスを正常にご利用できない、あるいはクッキーを必要とする広告設定を反映できなくなる可能性があります。</br>
    徳田総合研究所は、お客様のクッキー情報や、閲覧された広告・ページ、お客様のご利用環境等の情報を自動的にお客様のブラウザから受け取り、サーバーに記録し、本サービスログイン時の電子メールアドレス自動入力等の利便性向上のため、セッションの維持及び保護などセキュリティの為、また、新しいサービスを検討するため、サービスや広告の内容をよりお客様に適したものとするために利用いたします。</br>
</br>
<b>「ログ」の使用等について</b></br>
</br>
徳田総合研究所は、ユーザーが 本サービス訪問時に自動で生成される、IP アドレス、ブラウザ種類、ブラウザ言語などを収集します。</br>
これらの情報はユーザー環境を分析し、より良いサービス提供のため、また正常なサービス提供を妨害する不正行為防止のために利用いたします。検索に関する記録は個人を特定することができない形態で保存及び管理され、統計データ作成などの用途で利用いたします。</br>
</br>
<b>「機器情報」の使用等について</b></br>
</br>
徳田総合研究所は、端末の個体識別情報などの機器情報を収集する場合がございます。</br>
これらの情報はより良いサービス提供のため、また正常なサービス提供を妨害する不正行為防止のために利用いたします。</br>
</br>
<b>徳田総合研究所による個人情報の訂正</b></br>
</br>
個人情報のうち、市町村などの名称および郵便番号など、商品のお届けやご請求を行う上で支障がある情報に変更があった場合には、徳田総合研究所が登録されている個人情報を変更させていただく場合があります。</br>
個人情報の管理およびセキュリティについて</br>
</br>
徳田総合研究所では、収集させていただいた取得情報を、一般のユーザーがアクセスできない環境下にあるサーバーにて安全に保管し、不正アクセス・紛失・破壊・改ざんまたは漏洩が生じないよう努めます。</br>
</br>
<b>免責・注意事項</b></br>
</br>
    徳田総合研究所は、本サービスのリンクされている他の事業者または個人のウェブサービスにおけるお客様の取得情報等の保護に関しまして、一切の責任を請け負いません。</br>
    お客様ご自身にて当該サービスの内容をよくご確認の上で、閲覧およびご利用をお願いいたします。</br>
    ハッカー等による不当な行為により、お客様および第三者に損害が生じた場合に関してまして、徳田総合研究所は一切の責任を請け負いません。</br>
    お客様に対して、ご本人確認をするための情報につきましては、お客様にて、紛失、忘失または第三者に知られることのないよう厳重な管理をお願いいたします。</br>
</br>
<b>未成年のお客様の情報について</b></br>
</br>
お客様が未成年者の場合は、ご両親、保護者または後見人の方（以下「保護者様」といいます）がプライバシーポリシーおよび利用規約等の内容に同意され、お客様がプライバシーポリシーおよび利用規約等に基づき本サービスをご利用いただくことについて包括的に同意されることが必要となります。</br>
</br>
<b>海外からのアクセスについて</b></br>
</br>
本サービスの利用、管理、運用方法および掲載内容が不適切または違法とされる国または地域からの本サービスへのアクセスはご遠慮下さい。</br>
</br>
<b>プライバシーポリシーの改善および最新のプライバシーポリシーの確認について</b></br>
</br>
徳田総合研究所はプライバシーポリシーに関しまして、適宜その改善に取り組みます。</br>
お客様は、本サービスにアクセスするか徳田総合研究所のサービスをご利用になる前に、必ず最新のプライバシーポリシーをご確認ください。</br>
お客様が本サービスにアクセスされるか徳田総合研究所のサービスをご利用になられた場合は、最新のプライバシーポリシーの内容に同意されたものとみなします。</br>
</br>
<b>個人情報の開示・訂正・利用停止等の手続について</b></br>
</br>
お客様は、個人情報保護法に従い、個人情報の開示、訂正、利用停止等を求めることができます。</br>
</br>
<b>お問い合わせ</b></br>
</br>
プライバシーポリシーに関するお問い合わせは、下記担当までお願い致します。</br>
〒185-0062</br>
東京都町田市大蔵町181－1　フォーラム181-106 </br>
徳田総合研究所 個人情報担当者宛</br>
</br>
</br>
    2018年2月20日制定
