<div class="page-header">
  <h2>利用規約</h2>
</div>

この規約(以下「本利用規約」といいます)は、徳田総合研究所が運営するインターネットサービス「みんな買い」において、徳田総合研究所が提供する各種サービス（以下「本サービス」といいます）の利用の諸条件を定めるものです。</br>
</br>
第1条　本サービスの内容</br>
</br>
    本サービスは、オンラインでの共同購入プロジェクトを作成し、プロジェクトが成功した場合対象の商品を購入できるサービスです。</br>
</br>

第2条　本規約への同意及び本規約の変更</br>
</br>
1. 本規約への同意及び適用</br>
</br>
本規約は、本サービスの利用に関する条件をユーザーと徳田総合研究所との間で定めることを目的とし、ユーザーと徳田総合研究所の間の本サービスの利用に関わる一切の関係に適用されます。ユーザーは、本規約に同意をしたうえで、本規約の定めに従って本サービスを利用しなければなりません。ユーザーは、本サービスを利用することにより本規約に同意をしたものとみなされます。</br>
</br>
2. 未成年者の場合</br>
</br>
ユーザーが未成年者である場合は、事前に親権者など法定代理人の包括的な同意を得たうえで本サービスを利用しなければなりません。ユーザーが未成年者である場合は、親権者の同意の有無に関して、徳田総合研究所から親権者に対し、確認の連絡をする場合があります。</br>
</br>
3. 本規約の変更</br>
</br>
徳田総合研究所は、必要に応じ、本規約を変更できるものとします。徳田総合研究所は、本規約を変更した場合には、ユーザーに通知するものとし、通知後、ユーザーが本サービスを利用した場合又は徳田総合研究所の定める期間内にアカウント削除の手続をとらなかった場合には、ユーザーは、本規約の変更に同意をしたとみなされるものとします。徳田総合研究所は、本規約の改定、変更によりユーザーに生じたすべての損害について、一切の責任を負いません。</br>
</br>
第3条　サービスの原則</br>
</br>
1. プロジェクトの内容</br>
紳士淑女の皆様の良心に従い、法令、公序良俗に反しない内容のプロジェクトを作成してください。
</br>
不適切な内容は削除させていただく場合があります。
</br>

第4条　特則</br>
</br>
1.定めのない事項等</br>
</br>
本規約に定めのない事項又は本規約の解釈に疑義が生じた場合には、ユーザーは、徳田総合研究所の定めるところに従うものとします。これにより解決しない場合には、徳田総合研究所及びユーザーは、信義誠実の原則に従って協議の上速やかに解決を図るものとします。</br>
</br>
2.言語</br>
</br>
本規約は、日本語を正文とします。本規約につき、参考のために英語による翻訳文が作成された場合でも、日本語の正文のみが契約としての効力を有するものとし、英訳はいかなる効力も有しないものとします。</br>
</br>
3.準拠法及び裁判管轄</br>
</br>
本規約は、日本法に基づき解釈されるものとし、ユーザーと徳田総合研究所の間で生じた紛争については、その内容に応じて東京簡易裁判所又は東京地方裁判所を第一審の専属的合意管轄裁判所とします。</br>
</br>
    2018年2月20日制定
