  <% if join.errors.any? %>
    <div class="alert alert-danger">
      <ul>
      <% join.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>